.message {
    width: 918px;
    height: 210px;
    background-color: rgb(191, 228, 78);
    display: grid;
    grid-template-areas: "avatar m";
    border-radius: 10px;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: auto auto 0 10px;
}

.avatar {
    grid-area: avatar;
    margin: auto auto 10px auto;
    justify-items: center;
}

.messageC {
    grid-area: m;
    background-color: rgb(16, 32, 6);
    width: 718px;
    height: 190px;
    margin: 10px 10px 10px auto;
    border-radius: 10px 10px 10px 0;
    display: grid;
    grid-template-areas: "s time";
}

.messageB {
    grid-area: s;
    align-items: center;
    justify-items: start;
    font-size: 50px;
    margin: auto auto auto 40px;
    display: grid;
    align-items: center;
    justify-items: start;
}

.name {
    color: rgb(78, 73, 106)
}

.messageU {
    color: rgb(191, 228, 78);
}

.time {
    grid-area: time;
    color: rgb(49, 66, 41);
    font-size: 70px;
    margin: auto 10px 10px auto;
}