* {
    box-sizing: border-box;
}
.task {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius :10px;
    padding: 10px;
    margin: 10px;
}
.task span:nth-child(2) {
    margin-left: auto;
    margin-right: 30px;
}
.task button {
    cursor: pointer;
    border: none;
    background: transparent;
    color: darkred;
}
.buttons {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.buttons button {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ddd;
    cursor: pointer;
}
.buttons button:nth-child(2) {
    background: darkred;
    color: #fff;
}
.buttons button:nth-child(3) {
    background: #fddc00;
}
.buttons button:nth-child(4) {
    background: darkgreen;
    color: #fff;
}