.button {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    min-width: 75px;
    cursor: pointer;
}

.wrapper {
    position: relative;
    display: inline-flex;
}

.menu {
    display: none;
    position: absolute;
    background-color: #ccc;
    min-height: 45px;
    min-width: 160px;
    left: 76px;
    /*top: 50px;*/
    z-index: 1;
}

.menu a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.menu a:hover {background-color: #2980B9 }

.wrapper:hover .menu {
    display: flex;
}

.wrapper:hover .button {
    background-color: #8daee5;
}
.act {
    background: #1d49aa;
}